@font-face {
    font-family: ns;
    src: url(../font/ns.ttf);
}

@font-face {
    font-family: nsr;
    src: url(../font/nsr.ttf);
}

body {
    margin: 0;
    background-color: white;
}

body > * {
    -webkit-tap-highlight-color : transparent;
}

.nav {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgb(49, 49, 49);
    word-spacing: 10px;
    align-items: center;
    font-size: 20px;
}

.nav a {
    text-decoration: none;
    color: white;
}

.menu a {
    font-family: 'nsr';
    margin-right: 30px;
    transition: all .3s;
}

.menu a:hover {
    color: rgb(255, 177, 88);
}

.home {
    font-size: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

.content-title {
    font-family: 'ns';
    position: relative;
    background-color: #555369;
    height: 70px;
    text-align: center;
    color: white;
    font-size: 30px;
    line-height: 70px;
    font-weight: 700;
}

#content {
    padding-top: 10px;
}

.titles {
    font-family: 'ns';
    font-size: 30px;
    font-weight: 700;
}

.descs {
    font-family: 'nsr';
    font-size: 20px;
}

.cont-center {
    text-align: center;
}

.notice {
    cursor: pointer;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 30px;
    height: 80px;
    line-height: 80px;
    font-family: 'ns';
    background-color: rgb(226, 226, 226);
    margin-left: 20px;
    margin-right: 20px;
}

/* notice */
.tolist {
    float: right;
    margin-right: 10px;
    width: 55px;
    height: 55px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px;
    font-size: 50px;
    transition: 0.2s;
    cursor: pointer;
    font-family: 'nsr';
    box-shadow: 0px 0px 10px rgb(187 187 187);
    transition: 0.3s;
}

.tolist:hover {
    background-color: rgb(255, 125, 125);
}

.notice-content {
    margin-left: 40px;
    margin-right: 40px;
}

/* index.html */

.index-title {
    width: 100%;
    height: 200px;
    background-color: rgb(49, 49, 49);
    word-spacing: 10px;
    line-height: 200px;
    text-align: center;
}

.index-btns {
    text-align: center;
}

.index-btns > * {
    font-family: 'nsr';
    width: 600px;
    height: 200px;
    margin-top: 100px;
    background-color: rgb(255, 177, 88);
    border: 10px solid black;
    border-radius: 50px;
    font-size: 80px;
    transition: 0.2s;
    font-weight: 700;
    cursor: pointer;
}

.index-btns > *:hover {
    background-color: rgb(255, 215, 170);
    
}
