body {
    margin: 0;
    background-color: white;
}

body > * {
    -webkit-tap-highlight-color : transparent;
}

.nav {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgb(49, 49, 49);
    word-spacing: 10px;
    align-items: center;
    font-size: 20px;
}

.nav a {
    text-decoration: none;
    color: white;
}

.menu a {
    margin-right: 30px;
    transition: all .3s;
}

.menu a:hover {
    color: rgb(255, 177, 88);
}

.home {
    font-size: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

.content-title {
    position: relative;
    background-color: #555369;
    height: 70px;
    text-align: center;
    color: white;
    font-size: 30px;
    line-height: 70px;
    font-weight: 700;
}

.titles {
    font-size: 30px;
    font-weight: 700;
}

.descs {
    font-size: 20px;
}

.cont-center {
    text-align: center;
}



/* index.html */

.index-title {
    width: 100%;
    height: 200px;
    background-color: rgb(49, 49, 49);
    word-spacing: 10px;
    line-height: 200px;
    text-align: center;
}

.index-btns {
    text-align: center;
}

.index-btns > * {
    width: 600px;
    height: 200px;
    margin-top: 100px;
    background-color: rgb(255, 177, 88);
    border: 10px solid black;
    border-radius: 50px;
    font-size: 80px;
    transition: 0.2s;
    font-weight: 700;
}

.index-btns > *:hover {
    background-color: rgb(255, 215, 170);
    
}
